.about_container {
    position: relative;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container_wrapped {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    font-size: 20px;
    padding-top: 10%;
}

.about_container_wrapped p {
    width: 80%;
}

.skills_wrapped {
    /* background: blue; */
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar {
    background: rgb(226, 225, 225);
    width: 80%;
    height: 8%;
    display: flex;
}

.bar_text {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background: green;
}
