.about_container {
    position: relative;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about_page {
    /* background: red; */
    position: absolute;
    top: 60px;
    /* left: 0; */
}

.about_container_wrapped {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60%;
    font-size: 20px;
}

#selfie {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about_container_wrapped p {
    width: 80%;
    /* background: #ddd; */
    padding: 5px;
    opacity: .8;
    text-align: center;
}

.skills_wrapped {
    /* background: blue; */
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar {
    background: rgb(212, 210, 210);
    width: 80%;
    /* background: red; */
    height: 8%;
    display: flex;
}

.bar i {
    height: 100%;
    margin-right: 10px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar_text {
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20%;
    background: dodgerblue;
}

@media screen and (max-width: 600px) {
    .about_container_wrapped {
        display: block;
        width: 100%;
        text-align: center;
    }

    .about_container_wrapped p {
        width: 100%;
        /* background: blue; */
        padding: 10px;
        font-size: 15px;
    }

    #selfie {
        width: 100px;
        height: 100px;
        margin-bottom: 0;
        margin-top: 50px;
    }

    #about_page {
        position: relative;
        font-size: 25px;
        top: 20px;
    }

    .about_container {
        flex-direction: column;
    }

    .skills_wrapped {
        align-items: center;
    }

    .bar i {
        font-size: 10px;
    }

    .bar_text {
        font-size: 10px;
    }
}


@media screen and (min-width: 600px) and (max-width: 800px) {
    .about_container {
        height: 90vh;
    }

    .bar {
        /* background: red; */
        width: 90%;
    }

    .bar_text {
        font-size: 10px;
        /* background: red; */
    }

    .about_container_wrapped {
        /* background: blue; */
        /* width: 70%; */
    }

    .skills_wrapped {
        width: 50%;
        /* background: red; */
    }
}

