body {
    margin: 0;
    font-family: sans-serif;
    opacity: .9;
}

.full_page {
    height: 100vh;
}

.home_container {
    display: flex;
    flex-direction: column;
    /* background: red; */
    color: #fff;
}

.home_container_wrapped {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 17%;
}

#main_title {
    margin: 0;
    font-size: 60px;
}

#intro_paragraph {
    width: 50%;
    font-size: 20px;
    text-align: center;
    background-attachment: fixed;
}

.main_nav_bar {
    display: flex;
    font-size: 20px;
    justify-content: left;
    z-index: 3;
    padding: 10px 0;
    width: 100%;
    background: rgb(46, 46, 46);
    position: sticky;
    border-bottom: 3px solid rgb(73, 160, 247);
}

.sticky {
    position: fixed;
    top: 0;
}

.sticky + .about_container {
    padding-top: 60px;
}

.active {
    color: rgb(73, 160, 247);
    font-size: 16px;
}

.nav_hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 40px;
    color: #fff;
    /* background: red; */
}

.nav_hover:hover {
    font-size: 16px;
    color: rgb(73, 160, 247);
}

.video_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video_background video {
    min-width: 100%;
    min-height: 100%;
}

.overlay_div {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(32, 32, 32);
    opacity: .9;
    z-index: 1;
}