body {
    margin: 0;
    font-family: sans-serif;
    opacity: .9;
}

.main_nav_bar {
    font-size: 20px;
    position: fixed;
}

.home_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid dodgerblue;
}

.home_container_wrapped {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17%;
}

#main_title {
    margin: 0;
    font-size: 60px;
}

#intro_paragraph {
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.main_nav_bar {
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    margin-top: 1%;
}

.nav_hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    /* background: red; */
}

.nav_hover:hover {
    font-size: 16px;
    border-bottom: 1px solid dodgerblue;
}

.about_container {
    /* background: green; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container_wrapped {
    /* background: red; */
    width: 60%;
    height: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 10%;
}

.projects_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_div {
    height: 70%;
    width: 80%;
    display: flex;
    background: red;
    justify-content: space-around;
}

.project_spanshot {
    background: green;
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_description {
    background: blue;
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_description p {
    width: 80%;
}

.contact_container {
    background: red;
    height: 100vh;
}